/* src/index.css or src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 600px;
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center;    /* Centers content vertically */
  min-height: 100vh;      /* Ensures the container takes up the full viewport height */
  margin: 0 auto;         /* Centers the container itself horizontally in the viewport */
}


.kumbh-font {
  font-family: 'Kumbh Sans', system-ui, Avenir, Helvetica, Arial, sans-serif,
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
